
<div id="dyn-prop">
<b>Cost Center:</b> <div name="costcenter" id="CC-dyn-prop-costcenter" data-bind="value: Costcenter" ><br>

<b>Phone Number:</b><input type="text" name="PhoneNumber" id="CC-dyn-prop-phone" data-bind="value: PhoneNumber" ><br>

<b>Work Location:</b><input type="text" name="WorkLocation" id="CC-dyn-prop-location" data-bind="value: WorkLocation" ><br>

</div>
