<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <title>CPQ Reconfiguration</title>
  </head>
  <body>
    <form id="reconfiguration_form" action="" accept-charset="UTF-8" autocomplete="off" method="post" target="_self">
      <input type="hidden" id="configuratorId" name="_config_id" value=""><br/>
      <input type="hidden" id="locale" name="_bm_session_locale" value=""><br/>
      <input type="hidden" id="currency" name="_bm_session_currency" value=""><br/>
      <input type="submit" id="reconfiguration_submit" name="config_sub" value="Submit Reconfiguration" style="visibility: hidden;"/>
    </form>
 </body>
</html>