<span data-bind="widgetLocaleText: {value:'productMovedSuccessMessage', attr:'innerText', params: {producttitle: moveProductContentTitle(), wishlistname: moveProductTargetSpaceName()}}"></span>
<a data-bind="ccLink: moveProductTargetSpaceLink()">
  <span data-bind="widgetLocaleText: {value:'addToSpaceProductViewWishListMsg', attr:'innerText', params: {wishlistname: moveProductTargetSpaceName()}}"></span>
</a>